In [41]:
# Import the custom preprocessing module.
import PreProcessing_PD_Model as prepro

In [42]:
# Read the credit risk dataset into a pandas DataFrame.
df = prepro.pd.read_csv("credit_risk_dataset.csv")

In [43]:
# Display the first five rows of the DataFrame to inspect the data.
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [44]:
# Call a custom function to preprocess the data, returning scaled features, original features, target, and balanced data.
data_to_scale, features, target, balanced_features, balanced_target = prepro.ModelPreProcessing(df)
data_to_scale, features, target, balanced_features, balanced_target = prepro.ModelPreProcessing(df)

In [45]:
# Display the first five rows of the numerical data before scaling.
data_to_scale.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,21,9600,5.0,1000,11.14,0.10,2
1,25,9600,1.0,5500,12.87,0.57,3
2,23,65500,4.0,35000,15.23,0.53,2
3,24,54400,8.0,35000,14.27,0.55,4
4,21,9900,2.0,2500,7.14,0.25,2

In [46]:
# Display the first five rows of the balanced, preprocessed feature set with both numerical and one-hot encoded categorical columns.
balanced_features.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0,0
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0,0
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1,0

In [47]:
# Import the pickle library to handle serialization of Python objects.
import pickle

In [48]:
# Load the pre-trained Logistic Regression model from a pickle file.
with open('logisticPDmodel.pkl','rb') as file:
    logisticPDmodel = pickle.load(file)

In [49]:
# Load the pre-trained Random Forest model from a pickle file.
with open('RandomForestPDmodel.pkl','rb') as file:
    RandomForestPDmodel = pickle.load(file)

In [50]:
# Load the pre-trained XGBoost model from a pickle file.
with open('XGBPDmodel.pkl','rb') as file:
    XGBPDmodel = pickle.load(file)

In [51]:
# Example: Use the loaded Logistic Regression model to make predictions on the preprocessed features.
logistic_pred = logisticPDmodel.predict(features)

In [65]:
# Import the classification_report function and print the performance report for the Logistic Regression model.
from sklearn.metrics import classification_report
print(classification_report(target, logistic_pred))

              precision    recall  f1-score   support

           0       0.92      0.78      0.85     24846
           1       0.49      0.76      0.59      6825

    accuracy                           0.78     31671
   macro avg       0.70      0.77      0.72     31671
weighted avg       0.83      0.78      0.79     31671